@font-face {
    font-family: 'IRANSansMobile_Light';
    src: local('IRANSansMobile_Light'), url(./fonts/MobileFonts/IRANSansMobile_Light.ttf) format('truetype');
}

@font-face {
    font-family: 'IRANSansMobile_Med';
    src: local('IRANSansMobile_Medium'), url(./fonts/MobileFonts/IRANSansMobile_Medium.ttf) format('truetype');
}

* {
    font-family: IRANSansMobile_Med, serif;
    user-select: none;
}
.PED{
    pointer-events: none !important;
}

@media only screen and (orientation: portrait){
    .delete-food-td{
        display: none;
    }
    .discount-td{
        display: none;
    }
    .food-status-td{
        display: flex;
        flex-flow: column;
        align-items: center;
    }

}


.IranSansLight {
    font-family: IRANSansMobile_Light !important;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}


/* Firefox */
input[type=number] {
    -moz-appearance: textfield !important;
}

.each-food-inputs{
    margin-top: 20px;
    width: 25%;
}

@media only screen and (max-width: 800px) {
    .in-queue {
        border-left: 3px solid #27a844
    }

    .mobile-radius {
        border-top-left-radius: 15px
    }
    .each-food-inputs{
        margin-top: 20px;
        width: 100%;
    }
    .nameAndDeliveryTime{
        flex-flow: column !important;
        max-width: 1000px;
    }
    .nameAndDeliveryTime input {
        max-width: none !important;
    }
    .nameAndDeliveryTime .inputGroups{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

}



